PORT=4000
JWT_SECRET=secretojwtrandom

# Perfiles de la pareja
USER1_NAME=Dilan
USER1_PIN=9013
USER2_NAME=Karen
USER2_PIN=1704

NODE_ENV=development

# Credenciales de MySQL para XAMPP
DB_HOST=127.0.0.1
DB_NAME=hogar
DB_USER=root
DB_PASS=